body {
	background: black;
	font-family: Montserrat, "Source Sans Pro", Helvetica, Arial;
}

p {
	margin: 0;
}

div.absolute {
	position: absolute;
}

.page-enter {
	opacity: 0.01;
    transition: opacity 5000ms ease-in;
}

.page-enter.page-enter-active {
  opacity: 1;
}

.page-leave {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.page-leave.page-leave-active {
  opacity: 0.01;
}